@model Modelo.Usuario
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/login.css">
   <script src="/js/site.js"></script>	 
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


</head>
<div class="login-wrap">

	<div class="login-html">
		<div class="login-form">
				<div class="group">
					@using (Html.BeginForm("NewPassword", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
				
				<div class="group">
					<label for="pass" class="label">Ingresa la nueva contraseña</label>
					<input id="pass" type="password" class="input" data-type="password" name="password">
				</div>
				<div class="group">
					<input id="email" style="display: none;" type="text" data-type="password" value="@Model.Email" name="email">
					<label for="pass" class="label">Repita la nueva contraseña</label>
					<input id="pass" type="password" class="input" data-type="password" name="password">
				</div>
				
				<div class="group">
					<input type="submit" class="button" value="Enviar">

			</div>
			}
	</div>
</div>
 </div>   
	</html>

